@font-face {
  font-family: Norse;
  src: url(./Norse-Bold.woff);
}

:root {
  --font-standard: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --color-text: #dad7cd; /* timberwolf */
  --color-text-form: #0C1B33; /* oxford blue */

  --background-general: #00100B; /* night */
  --background-general-hover: #00291C; /* dark green */
  --background-form: #EEECE8; /* isabelline */
  --background-form-shade: #E5E2DC; /* platinum */
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  border: none;
  outline: none;
}

html,
body {
  background-color: var(--background-general);
  margin: 0 25px;
  height: 100%;
  overflow: hidden;
}

main {
  display: flex;
  font-family: sans-serif;
}

#viking-logo {
  height: 10vh;
}

#viking-h1 {
  font-family: Norse;
  font-size: 56px;
  color: var(--color-text);
}

.container-image {
  width:40vw;
  height: 100vh;
  background-image: url("./background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;
  gap: 0.8em;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 25vh;
}

.image-credits {
  font-size: 10px;
  color: var(--color-text);
  text-align: center;
  position: relative;
  top: 80vh;
}

a {
  color: var(--color-text)
}

a:hover,
#link-login {
  color: #00100B;
}

#link-login {
  font-weight: 800;
  text-decoration: none;
}

.container-form {
  text-align: center;
  width: 60vw;
  height: 100vh;
  background-color: var(--background-form);
}

.form-header,
.form-footer {
  height: 32vh;
}

.form-header,
.form-main,
.form-footer {
  text-align: start;
  color: var(--color-text-form);
  overflow: hidden;
}

.form-main {
  font-size: 18px;
  padding: 1em 0 0 2em;
  height: 36vh;
  background-color: var(--background-form-shade);
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.form-header-para,
.form-footer {
  font-size: 20px;
  font-family: var(--font-standard);
  line-height: 1.3em;
  padding: 2em 10em 2em 2em;
}

.form-footer {
  display: flex;
  flex-direction: column;
  gap:0.5em;
}

button[type=submit] {
  font-size: 18px;
  color: var(--color-text);
  background-color: var(--background-general);
  border: 1px solid #000;
  border-radius: 8px;
  max-width: 10em;
  padding: 0.4em;
}

button[type=submit]:hover {
  background-color: var(--background-general-hover);
}

button[type=submit]:active {
  transform: scale(0.99);
}

/* FORM STYLING */
form {
  margin-top: 0.2em;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
  gap: 5px 40px;
}

.input {
  display: flex;
  flex-flow: column wrap;
}

label {
  font-size: 16px;
  margin: 0.3em 0;
}

input {
  font-family: inherit;
  font-size: 80%;
  background: var(--background-form-shade);
  border: 1px solid var(--background-general);
  border-radius: 0.4em;

  width: 15em;
  min-width: 0.8em;
  padding: 0.2em;
  padding-left: 0.5em;
  box-sizing: border-box;
  flex: 0 1 auto;
}

input:focus {
  background: var(--background-form-shade);
  border: 1px solid blueviolet;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5);
}

input:focus:invalid {
  border: 1px solid red;
}

.error {
  font-size: 11px;
  color: red;
  padding: 0.6em 0;
}